/*FOOTER*/

.footer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer hr{
    height: 160px;
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
}

.footer .techFooter img{
    height: 60px;
    width: 240px;
}

.footer .info p{
    color: white;
    font-size: 17px;
    margin-bottom: 9px;
}

.footer .info .redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .copyright p {
    color: white;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 600px){
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer hr{
        display: none;
    }

    .footer .techFooter img{
        margin-bottom: 40px;
    }

    .footer .info p{
        text-align: center;
    }

    .footer .info .redes{
        justify-content: center;
    }

    .footer .info .redes a img{
        text-align: center;
    }
}