.nosotros{
    display: flex;
    justify-content: space-around;
    background-color: #edf0f365;
    padding: 70px;
}

.nosotros .imgNosotros .imgLocal{
    width: 500px;
    height: 600px;
}

.nosotros .quienesSomos{
    align-self: center;
}

.nosotros .quienesSomos h2{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.nosotros .quienesSomos h2 span{
    color: #0038ff;
}

.nosotros .quienesSomos p{
    width: 450px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    margin-top: 25px;
}

@media screen and (max-width: 1200px) { 
    .nosotros .imgNosotros .imgLocal{
        width: 450px;
        height: 550px;
    }
    .nosotros .quienesSomos h2 {
        font-size: 26px;
    }
    .nosotros .quienesSomos p{
        font-size: 14px;
        width: 400px;
    }
}

@media screen and (max-width: 1120px) { 
    .nosotros .quienesSomos h2 {
        font-size: 24px;
    }
    .nosotros .quienesSomos p{
        font-size: 13px;
        width: 370px;
    }
}

@media screen and (max-width: 1060px){
    .nosotros .imgNosotros .imgLocal{
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 990px){
    .nosotros .imgNosotros .imgLocal{
        width: 370px;
        height: 470px;
    }
    .nosotros .quienesSomos h2 {
        font-size: 22px;
    }
    .nosotros .quienesSomos p{
        font-size: 13px;
        width: 350px;
    }
}

@media screen and (max-width: 930px){
    .nosotros .imgNosotros .imgLocal{
        width: 340px;
        height: 440px;
    }
    .nosotros .quienesSomos p{
        font-size: 13px;
        width: 320px;
    }
}

@media screen and (max-width: 840px){
    .nosotros{
        flex-direction: column-reverse;
    }

    .nosotros .quienesSomos p{
        font-size: 14px;
        width: 500px;
    }
    .nosotros .imgNosotros{
        align-self: center;
        margin-top: 25px;
    }
    .nosotros .imgNosotros .imgLocal{
        width: 370px;
        height: 470px;
    }
}

@media screen and (max-width: 600px){
    .nosotros .quienesSomos p{
        width: 400px;
    }
}

@media screen and (max-width: 480px){
    .nosotros .quienesSomos h2{
        font-size: 20px;
    }
    .nosotros .imgNosotros .imgLocal{
        width: 300px;
        height: 400px;
    }
    .nosotros .quienesSomos p{
        width: 330px;
    }
}

@media screen and (max-width: 480px){
    .nosotros .imgNosotros .imgLocal{
        width: 270px;
        height: 370px;
    }
    .nosotros .quienesSomos p{
        width: 300px;
    }
}

@media screen and (max-width: 350px){
    .nosotros .quienesSomos h2{
        font-size: 18px;
    }
    .nosotros .quienesSomos p{
        font-size: 13px;
        width: 270px;
    }
    .nosotros .imgNosotros .imgLocal{
        width: 250px;
        height: 350px;
    }
}