.nosotros{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: #edf0f365;
    padding: 70px;
}

.nosotros .imgNosotros .imgLocal{
    width: 500px;
    height: 600px;
}

.nosotros .quienesSomos{
    align-self: center;
}

.nosotros .quienesSomos h2{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.nosotros .quienesSomos h2 span{
    color: #0038ff;
}

.nosotros .quienesSomos p{
    width: 450px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    margin-top: 25px;
}
