@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

/* MARCAS */

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin-top: -40px;
    margin-bottom: -10px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: center;
    cursor: pointer;
    border: none;
}

.card .img img {
    width: 140px;
    height: 140px;
}

.marcas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.marcas .titulo{
    margin-bottom: 50px;
}

.marcas .titulo h2{
    font-size: 24px;
    text-align: center;
}

.marcas .titulo h2 span{
    color: #0038ff;
    font-weight: 600;
}

.marcas .wrapper .carousel .card .dell{
    width: 110px;
    height: 110px;
}

.marcas .wrapper .carousel .card .hp{
    width: 105px;
    height: 105px;
}

.marcas .wrapper .carousel .card .asus{
    width: 160px;
    height: 160px;
}

.marcas .wrapper .carousel .card .lenovo{
    width: 270px;
    height: 270px;
}

.marcas .wrapper .carousel .card .bangho{
    width: 250px;
    height: 280px;
}

.marcas .wrapper .carousel .card .acer{
    width: 200px;
    height: 200px;
}

/*DATOS*/

.datos{
    margin-bottom: 200px;
}

.datos .info{
    display: flex;
    justify-content: space-evenly;
}

.datos .info .card{
    border: none;
}

.datos .info .card h3{
    font-size: 17px;
    font-weight: 700;
}

.datos .info .card p{
    font-size: 16px;
}

.datos .info .imagenes img{
    height: 50px;
    width: 50px;
}


/* MEDIA QUERIES */

/* MARCAS */

@media screen and (max-width: 900px) {
    .wrapper {
        max-width: 550px;
        width: 100%;
    }
    
    .wrapper .carousel {
        grid-auto-columns: calc(100% / 2);
        scroll-snap-type: x mandatory;
        gap: 16px;
        scroll-behavior: smooth;
    }
    
    .carousel::-webkit-scrollbar {
        display: none;
    }
    
    .carousel.no-transition {
        scroll-behavior: auto;
    }
    
    .carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    
    .carousel.dragging .card {
        cursor: grab;
        user-select: none;
    }
}

@media screen and (max-width: 600px){
    .marcas .titulo h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 590px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
        text-align: center;
    }
    .wrapper {
        max-width: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 460px){
    .marcas .titulo h2{
        font-size: 19px;
    }
}

@media screen and (max-width: 380px){
    .marcas .titulo h2{
        font-size: 17px;
    }
}

@media screen and (max-width: 360px){
    .marcas .titulo h2{
        font-size: 16px;
    }
}